<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="http://nexus.amcom.com.br/service/local/nuget/NuGet-AMcom/" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="AMcom - NuGet" value="http://nexus.amcom.com.br/service/local/nuget/nuget/" />
  </activePackageSource>
  <packageSources>
    <add key="AMcom - NuGet" value="http://nexus.amcom.com.br/repository/nuget/" />
  </packageSources>
  <disabledPackageSources />
</configuration>
