@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script src="~/node_modules/vue/dist/vue.min.js"></script>

<script>
    const v = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    })
</script>