@using Newtonsoft.Json;
@model Vue.Models.ClienteVM
@{
    ViewBag.Title = "Index";
    var teste = new List<string>();
    teste.Add("1");
    teste.Add("2");
    teste.Add("3");
    teste.Add("4");
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Index</h2>


@using (Html.BeginForm())
{

    <App :validations="@JsonConvert.SerializeObject(Html.GetUnobtrusiveValidationAttributes("LastName"))"></App>

    @Html.ValidationMessageFor(c => c.LastName)
}


<script src="~/dist/build.js"></script>

