@using Newtonsoft.Json;
@model Vue.Models.ClienteVM
@{
    ViewBag.Title = "Index";
    var teste = new List<string>();
    teste.Add("1");
    teste.Add("2");
    teste.Add("3");
    teste.Add("4");
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Index</h2>

@using (Html.BeginForm("","",FormMethod.Post))
{
    @*v-bind="@JsonConvert.SerializeObject(Html.GetUnobtrusiveValidationAttributes("LastName"))"*@
    <input type="text" name="email" v-model="email"/>
    <span v-show="errors.has('email')">{{ errors.first('email') }}</span>
    @Html.ValidationMessageFor(c => c.LastName)

    <input type="button" value="Envia" @@click="onSubmit($event)"/>
}

<style scoped>
    .error{
        color:red
    }
</style>

<script src="~/dist/Home.js"></script>